<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
{% load static %}
<link href='{% static "css/newcss.css" %}' type="text/css" rel="stylesheet">
    <script src ="{% static 'js/new.js' %}" type="text/javascript"></script>

    <style>
        .demo2{
        color:blue;
        }

    </style>

</head>
<body>
<center><h1><font color="white"> Hello  Python</font></h1></center>
{% load static %}
<img src="{% static 'images/2018-honda-accord-interior-dashboard.jpg' %}">

<button onclick="fun()">Click Here</button>

<!--<video width="320" height="320" controls>
    <source src="{ % static 'videos/small.mp4' %} " type="video/mp4">
Your browser does not support the video tag.
</video>-->

<h1 class="demo">External</h1>
<h2 class="demo2"> internal</h2>


</body>
</html>